/* Personalizações Globais */
body {
    background-color: #f7f7f7;
    color: #333;
    font-family: 'Arial', sans-serif;
}

h2, h3 {
    color: #007bff;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Botões */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Tabelas */
.table {
    background-color: #fff;
}

    .table th {
        background-color: #343a40;
        color: #fff;
    }

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.btn {
    display: inline-block; /* Muda de block para inline-block para permitir alinhamento */
    width: auto; /* Deixa o botão ajustar-se ao conteúdo */
    margin: 0 10px; /* Espaçamento lateral entre os botões */
    margin-top: 20px; /* Espaço acima do botão */
}
